# ─────────── entorno ───────────
NODE_ENV=development
TZ=America/Caracas

# ─────────── PostgreSQL ───────────
POSTGRES_USER=torneo
POSTGRES_PASSWORD=cambia_esta_clave
POSTGRES_DB=torneo_db
POSTGRES_PORT=8217
# NOTA: DATABASE_URL usa el puerto INTERNO del contenedor (5432), no el host (8217)
DATABASE_URL=postgresql://torneo:cambia_esta_clave@postgres:5432/torneo_db?schema=public

# ─────────── Backend ───────────
BACKEND_PORT=4000
JWT_ACCESS_SECRET=pon_un_secreto_largo_aleatorio_1
JWT_REFRESH_SECRET=pon_un_secreto_largo_aleatorio_2
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
# CORS usa el puerto del HOST (frontend)
CORS_ORIGIN=http://localhost:5842
UPLOAD_MAX_MB=5

# ─────────── Admin inicial (seed) ───────────
ADMIN_EMAIL=admin@torneo.com
ADMIN_PASSWORD=Admin1234

# ─────────── MinIO ───────────
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_PUBLIC_BUCKET=public-assets
MINIO_PRIVATE_BUCKET=private-docs

# ─────────── Frontend (build-time) ───────────
# Estas URLs se inyectan en el JS del frontend y apuntan a los puertos del HOST
VITE_API_URL=http://localhost:7391/api
VITE_SOCKET_URL=http://localhost:7391
VITE_PUBLIC_ASSETS_URL=http://localhost:6773/public-assets

# ─────────── Puertos expuestos (host:contenedor) ───────────
# PostgreSQL: 8217:5432
# MinIO API: 6773:9000 | Console: 6774:9001
# Backend API: 7391:4000
# Frontend: 5842:80
# Adminer: 8123:8080
